@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Shared Style */

:root {
  --white: #ffffff;
  --orange: #fea301;
  --sky-blue: #01acfd;
  --turquoise: #05d4df;
  --purple: #5d58ef;
  --black: #111111;
}

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.flex {
  display: flex;
}

.btn {
  font-size: 1.25rem;
  border: none;
  border-radius: 12px;
  padding: 10px;
  width: 197px;
  height: 50px;
}

/* Navbar */

.navbar,
.logo-name {
  align-items: center;
}

.navbar {
  justify-content: space-around;
  margin: 20px auto;
}

.logo,
.name {
  padding: 0 8px;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  list-style: none;
}

.nav-link .link {
  font-size: 1.25rem;
  text-decoration: none;
  margin: 32px;
}

.home-link {
  color: var(--orange);
  font-weight: 800;
}

.about-link,
.facilities-link,
.admission-link {
  font-weight: 500;
}

.about-link {
  color: var(--sky-blue);
}

.facilities-link {
  color: var(--turquoise);
}

.admission-link {
  color: var(--purple);
}

.contact-btn {
  background-color: var(--orange);
  color: var(--white);
  font-weight: 600;
}
